.main-news {

    &__list {
        .list-reset;
        display: flex;
        justify-content: space-between;
        }

    &__item {
        width: 140px;
        }

    &__link {
        text-decoration: none;
        color: @default-text;
    }

    &__title {

    }

    }

