.carousel {


    border-bottom: 5px solid @red;

    &__image {

        &-wrapper {
            float: left;
            }
        }

    &__article {
        position: relative;
        padding: 15px 20px 50px;
        }

    &__title {
        color: @header-text-color;
        }

    &__text {
        margin-top: 20px;
        }

    &__control {
        position: absolute;
        }

    &-counter {
        &-item {
            &-current {}
            &-static {}
            }


        }

    &__spinner {}

    &__button {
        position: relative;
        width: 12px;
        height: 24px;

        border: 0;
        padding: 0;
        background: transparent;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-bottom: 3px solid @red;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            height: 0;
            width: 10px;
            }

        &::-moz-focus-inner {
            margin: 0;
            padding: 0;
            }

        &-container {}

        &_prev {
            &::before {
                transform: rotate(-45deg);
                }

            &::after {
                transform: rotate(45deg);
                }

            }

        &_next {
            &::before {
                transform: rotate(45deg);
                }

            &::after {
                transform: rotate(-45deg);
                }
            }
        }


    }

