.l-container {}

.l-wrapper {
	width: @wrapper-width;
	margin: auto;
	}

.l-header {}

.content {
	margin: 50px 0;
	}

.main {
	float: left;
	width: 620px;
	}

.main-left {
	float: left;
	width: 380px;
}

.main-right {
	width: 220px;
	float: right;
}

.sidebar {
	float: right;
	width: 300px;
	}

.l-footer {}